@model ColaComNois.Entidades.Login

@{
    Layout = string.Empty;
}

<!DOCTYPE html>
<head>
    <title>Acesso - Cola Com Nois Futsal</title>
    
    @{
        Html.RenderPartial("_partial/_header_bootstrap");
    }

</head>
<body>
    <div class="main-container">
        <div class="row">
            @using (Html.BeginForm("Autenticar", "Login", FormMethod.Post, new { @class = "login-wrapper" }))
            {
                <div class="header">
                    <div class="row">
                        <div class="col-md-12">
                            <h3>Login<img style="width: 65px;" src="~/bootstrap/img/ccn.png" class="pull-right"></h3>
                            <p>Digite o usuário e senha</p>
                            @if (ViewBag.Error == true)
                            {
                                @Html.ValidationMessage("login.Invalido", "", new { @class = "text-danger", @style = "color:red;" })
                            }
                        </div>
                    </div>
                </div>
                <div class="content">
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @placeholder = "examplo@examplo.com.br", @class = "input col-md-12 col-sm-12 email" } })
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12">
                            @Html.EditorFor(model => model.Senha, new { htmlAttributes = new { @placeholder = "senha", @class = "input col-md-12 col-sm-12 password" } })
                        </div>
                    </div>
                </div>
                <div class="actions">
                    <input type="submit" class="btn btn-danger" value="Login" />
                    <div class="clearfix"></div>
                </div>
            }
        </div>
    </div>
</body>