
<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Cola Com Nois - Futsal
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Dashboard</li>
                </ul>
            </small>
        </h2>
        <ul class="stats hidden-xs">
            <li class="ruby-red-bg">
                <span class="fs1" aria-hidden="true" data-icon="&#xe042;"></span>
                <div class="details">
                    <span class="big">São Paulo</span>
                    <span class="small">C.D.C - Campo do Sabão</span>
                </div>
            </li>
            <li class="light-grey-bg">
                <span class="fs1" aria-hidden="true" data-icon="&#xe037;"></span>
                <div class="details">
                    <span class="big">$7589</span>
                    <span class="small">R$ Despesas</span>
                </div>
            </li>
            <li class="ruby-red-bg">
                <span id="currentSale" class="graph"><canvas width="53" height="30" style="display: inline-block; width: 53px; height: 30px; vertical-align: top;"></canvas></span>
                <div class="details">
                    <span class="big">$8,597</span>
                    <span class="small">R$ Arrecadado</span>
                </div>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe096;"></span> Informativo
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <!-- Span4 start -->
                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-header">
                                    <div class="title">
                                        <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Traffic Report
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-condensed table-bordered table-hover no-margin">
                                        <tbody>
                                            <tr>
                                                <td style="width:60%">
                                                    Daily Uinque Visitors
                                                </td>
                                                <td style="width:40%">
                                                    <span class="label label-danger">
                                                        390
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Daily Pageviews
                                                </td>
                                                <td>
                                                    <span class="label label-info">
                                                        5,229
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Weekly Pageviews
                                                </td>
                                                <td>
                                                    <span class="label label-success">
                                                        28,123
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="widget">
                                <div class="widget-header">
                                    <div class="title">
                                        <span class="fs1" aria-hidden="true" data-icon="&#xe14a;"></span> Arrecadação Estimada
                                    </div>
                                </div>
                                <div class="widget-body">
                                    <table class="table table-condensed table-bordered table-hover no-margin">
                                        <tbody>
                                            <tr>
                                                <td style="width:60%">
                                                    Income per day
                                                </td>
                                                <td style="width:40%">
                                                    <span class="label label-success">
                                                        $312.00
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Income per week
                                                </td>
                                                <td>
                                                    <span class="label label-warning">
                                                        $2,660.00
                                                    </span>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    Estimated Worth
                                                </td>
                                                <td>
                                                    <span class="label label-info">
                                                        $22,660.00
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

