@model ColaComNois.Entidades.Adversarios

<title>Editar - Adversário</title>

@{
    ViewBag.Title = "Editar - Adversário";
    Html.RenderPartial("_partial/_cabecalho_princp");
}

<script src="~/bootstrap/js/jquery.easy-pie-chart.js"></script>

<div class="dashboard-wrapper">
    <div class="page-title clearfix">
        <h2>
            Adversários
            <small>
                <ul>
                    <li>Home</li>
                    <li>/</li>
                    <li>Adversários</li>
                    <li>/</li>
                    <li>Editar</li>
                </ul>
            </small>
        </h2>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="widget no-margin">
                <div class="widget-header">
                    <div class="title">
                        <span class="fs1" aria-hidden="true" data-icon="&#xe075;"></span> Editar
                    </div>
                </div>
                <div class="widget-body">
                    <div class="row">
                        <div class="col-md-2 col-sm-3">
                            <div class="thumbnail">
                                <img src="~/bootstrap/img/ccn.png" />
                            </div>
                        </div>
                        <div class="col-md-10 col-sm-9">

                            @using (Html.BeginForm("Edit", "Adversarios", FormMethod.Post, new { @class = "form-horizontal" }))
                            {

                                Html.RenderPartial("_partial/_form_CadsEdit", Model);

                                <div class="form_submit clearfix">
                                    <div class="row">
                                        <div class="col-sm-10 col-sm-offset-2">
                                            <button class="btn btn-primary btn-lg">Salvar</button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
