@model ColaComNois.Entidades.Despesas

<head>
    @{
        ViewBag.Title = "Detalhes - Despesas";
        Html.RenderPartial("_partial/_cabecalho_princp");
    }
</head>

<body>
    <div class="main-container">
        <div class="dashboard-wrapper">
            <div class="page-title clearfix">
                <h2>
                    Despesas
                    <small>
                        <ul>
                            <li>Home</li>
                            <li>/</li>
                            <li>Despesas</li>
                            <li>/</li>
                            <li>Excluir</li>
                        </ul>
                    </small>
                </h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="widget no-margin">
                        <div class="widget-header">
                            <div class="title">
                                <span class="text-error">Excluir</span>
                            </div>
                        </div>
                        <div class="widget-body">
                            <table class="table table-striped table-hover">
                                <tbody>

                                    @using (Html.BeginForm("Delete", "Despesas", FormMethod.Post))
                                    {
                                        Html.RenderPartial("_partial/_form_Detalhes_Deletar", Model);

                                        <tr>
                                            <td colspan="4">
                                                <button type="submit" class="btn btn-danger btn-large pull-right">Excluir</button>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
