<!DOCTYPE html>

<head>
    <title>Cola Com Nois Futsal - Home Page</title>
    @{
        Html.RenderPartial("_partial/_header_bootstrap");
    }

</head>
<body>

    @{
        Html.RenderPartial("_partial/_menus");
    }

    <div id="page-wrapper">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
</body>
