@model ColaComNois.Entidades.Rateio

<tr>
    <td>
        <strong>Despesa Nome</strong>
    </td>
    <td>
        <span class="label label-primary" style="font-size: 100% !important;">@Html.DisplayFor(model => model.Despesa.Nome)</span>
    </td>
</tr>

<tr>
    <td>
        <strong>Jogador Nome</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Jogador.Nome)</td>
</tr>

<tr>
    <td>
        <strong>Valor</strong>
    </td>
    <td>@*@Html.DisplayFor(model => model.Valor)*@</td>
</tr>
<tr>
    <td>
        <strong>Data de Pagamento</strong>
    </td>
    <td>@Html.DisplayFor(model => model.Data_Pagamento)</td>
</tr>
<tr>
    <td>
        <strong>Quem Recebeu?</strong>
    </td>
    <td>
        <span class="text-error">@Html.DisplayFor(model => model.NomeRecebedor)</span>
    </td>
</tr>


